{
  "extends": "airbnb-typescript-prettier",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "wp": true,
    "lazyload_video_settings": true,
    // Jest globals
    "describe": true,
    "it": true,
    "expect": true
  },
  "rules": {
    "semi": 2,
    "@typescript-eslint/camelcase": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/prefer-default-export": "off",
    "quotes": ["error", "single"]
  }
}
